body {
    font-family: 'Biryani', sans-serif;
    background-image: url('https://kartikajayapbiologi14.files.wordpress.com/2015/05/background-stripes-pink-putih.png');
}
ul {
    display: flex;
    flex-direction: row;
    justify-content: right;
    margin-right: 30px;
}
.menu{
    color: black;

}
a:link {
    color: rgb(255,0,119);
    background-color: transparent;
    text-decoration: none;
  }
  
  a:visited {
    color: rgb(0, 0, 0);
    background-color: transparent;
    text-decoration: none;
  }
  
  a:hover {
    color: green;
    background-color: transparent;
    text-decoration: underline;
  }
  
  a:active {
    color: rgb(0, 255, 55);
    background-color: transparent;
    text-decoration: underline;
  }

section {
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 25px;
    border-radius: 20px;
    margin: 75px;
    padding: 50px;
    background-color: rgb(230, 228, 225);

}
img{
    width: 20%;
    height: auto;
    align-self:flex-end;
}

h1{
    font-family: 'ephesis', cursive;
    font-size: 100px; 
    margin-top: 25px;
    margin-bottom: 5px;
    margin-left: 300px;
    text-align: start;
}
h2{
    font-size: 40px;
    font-weight: 800;
    margin-top: 2px;
    margin-left: 300px;
    margin-right: 0px;
    padding-right: 0px;
    text-align:start;
}
button{
  border: 2px solid black;
  border-radius: 50px;
  font-size: 20px;
  font-weight: bolder;
  padding: 25px;
 margin-left: 50%;
}
button:hover{
  background-color: black;
  color: white;
}
div{
  display: flex;
  flex-direction: row;
  
}

@media only screen and (max-width: 572px) {
  h1{
    font-size: 50px;
    margin-left: 30px;
  }
  h2{
    font-size: 30px;
    margin-left: 30px
  }
  button{
    margin-left: 50px;
  }
}